#headingDiv {
    height: 70px;
    width: 90%;
}
#title {
    font-size: 44px;
    color: #ffffff;
}
#line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}
#inputBoxs {
    height: 260px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.forPass {
    margin-top: 5px;
}
.inputBox {
    height: 90px;
    width: 100%;
}
.inputBox:nth-child(2) {
    margin-top: 10px;
}
.inputBox h2 {
    font-size: 28px;
}
.input {
    height: 50px;
    width: 100%;
    border: 1px solid #464444;
    background-color: #212121;
    border-radius: 6px;
    color: #ffffff;
    padding-left: 10px;
}
.input::placeholder {
    color: #464444;
}
.input:focus {
    outline: none;
}
.secondaryLink {
    font-size: 16px;
    color: #2f7ec7;
}
.underline {
    text-decoration: underline;
}
#submitBtn {
    height: 50px;
    width: 90%;
    background-color: #320db1;
    color: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#btmText {
    width: 90%;
    margin-bottom: 70px;
    display: flex;
    justify-content: flex-end;
}
#errorBox {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.error {
    color: red;
    font-size: 18px;
}
.hidden {
    display: none;
}
