:root {
    --width: 400px;
    --border-radius: 10px;
    --background-color: rgba(27, 26, 26, 0.83);
    --backdrop-filter: blur(5.9px);
    --border: 1px solid rgba(27, 26, 26, 0.88);
    --transition: all 0.3s ease-in-out;
    --color-white: white;
    --font-size-h1: 26px;
    --font-size-h4: 18px;
    --font-weight-h1: 400;
    --font-weight-h4: 300;
    --background-color-hover: #4b4b4b;
    --background-color-text: #313131;
    --button-height: 30px;
    --button-width: 45%;
    --button-border-radius: 5px;
    --button-font-size: 16px;
    --button-bg-color-1: #f48809;
    --button-bg-color-1-active: #a45900;
    --button-bg-color-2: #ff0000;
    --button-bg-color-2-active: #9f0101;
}

.bookShowInfo {
    width: var(--width);
    position: absolute;
    top: -410px;
    right: var(--width);
    border-radius: var(--border-radius);
    background: var(--background-color);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    border: var(--border);
    opacity: 0;
    transition: var(--transition);
    transform: translateY(0px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
    padding-bottom: 15px;
}

.bookShowInfo.animate {
    opacity: 1;
    transform: translateY(430px);
}

.bookShowInfoHeader {
    display: flex;
    justify-content: space-evenly;
    width: 280px;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
}

.bookShowInfoHeader h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    margin-left: -55px;
}

.bookShowInfoHeader > div {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-right: -55px;
    padding-top: 8px;
}

.bookShowInfoHeader h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
}

.showBookInfoClose {
    position: absolute;
    top: -25px;
    right: -25px;
    background-color: red;
    border: 10px solid #0d0d0d;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-white);
}

.homeReserveShowInfoThinLine {
    height: 3px;
    color: var(--color-white);
    border-radius: 3px;
    width: 100%;
    background-color: var(--color-white);
}

.bookShowInfoBoxDiv {
    width: 80%;
    margin-bottom: 8px;
}

.bookShowInfoBoxDiv > h4 {
    margin-left: -15px;
    margin-bottom: 8px;
    font-size: var(--font-size-h4);
}

.bookShowInfoBoxText {
    background-color: var(--background-color-text);
    min-width: fit-content;
    padding: 5px;
    margin: 2.5px;
    border-radius: 3px;
}

.bookShowInfoBoxText:hover {
    background-color: var(--background-color-hover);
    transition: var(--transition);
}

.bookShowInfoFlexItemBox {
    margin-top: 2.5px;
    display: flex;
    flex-wrap: wrap;
}

.bookShowInfoNumPeopleDivFlex {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    margin-top: -7px;
}

.bookShowInfoNumPeopleDiv {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 8px;
    justify-content: center;
}

.bookShowInfoNumPeopleDiv > h4 {
    margin: 8px;
}

.bookShowInfoNumPeopleDiv > h4:nth-child(2) {
    background-color: var(--background-color-text);
    min-width: 20px;
    padding: 5px;
    margin: 2.5px;
    border-radius: 3px;
    font-weight: 400;
    text-align: center;
}

.bookShowInfoBtnDiv {
    width: var(--width);
    height: var(--button-height);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.bookShowInfoBtnDiv button {
    height: var(--button-height);
    width: var(--button-width);
    border-radius: var(--button-border-radius);
    color: var(--color-white);
    font-size: var(--button-font-size);
    text-align: center;
}

.bookShowInfoBtnDiv > button:nth-child(1) {
    background-color: var(--button-bg-color-1);
}

.bookShowInfoBtnDiv > button:nth-child(1):active {
    background-color: var(--button-bg-color-1-active);
}

.bookShowInfoBtnDiv > button:nth-child(2) {
    background-color: var(--button-bg-color-2);
}

.bookShowInfoBtnDiv > button:nth-child(2):active {
    background-color: var(--button-bg-color-2-active);
}