.bannerText {
    width: 194px;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(285deg, #3bfe00 -2.54%, #7fe797 98.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.customerTitle {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #29f1e3 -13.49%, #4924c5 114.46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    margin-left: 24px;
}
.priceHeader {
    margin-top: 76px;
    font-family: Inter;
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(92deg, #2c0aa2 -0.31%, #249dc5 94.37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.priceHeaderMob {
    margin-top: 54px;
    font-family: Inter;
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(92deg, #2c0aa2 -0.31%, #249dc5 94.37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-left: 5%;
}
